@import "tailwindcss";

:root {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #2b2b30;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-sidebar: #1e1e21;
  --color-gray-default: #4d4d56;
  --color-gray-light: #62626c;
  --color-gray-dark: #605c5c;
  --font-primary: "Inter", sans-serif;
}
