@import "tailwindcss";

:root {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2b2b30;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-sidebar: #1E1E21;
  --color-gray-light: #62626C;
  --font-primary: "Inter", sans-serif;
}
